{% extends "base.html" %}

{% block title %}Withdraw{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1 class="display-4">Withdraw</h1>
    <p class="lead">Withdraw funds from your account.</p>
    <form method="post" action="{{ url_for('transactions.withdraw') }}">
      <div class="form-group">
        <label for="amount">Withdraw Amount</label>
        <input type="number" class="form-control" id="amount" name="amount" required min="10" >
      </div>
      <button type="submit" class="btn btn-primary">Withdraw</button>
    </form>
  </div>
{% endblock %}
